<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome do Arquivo</th>
                <th class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file }}</td>
                <td class="text-end">
                    <a href="{{ url_for('view_file', filename=file) }}" class="btn btn-sm btn-secondary" target="_blank">Visualizar</a>
                    <a href="{{ url_for('baixar', filename=file) }}" class="btn btn-sm btn-primary">Baixar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2" class="text-center text-muted">Nenhum arquivo encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>